{% extends 'collect/manager.html' %}
{% block main_content %}

<div class="commonContainerDiv">
<p class="commonTitleText">파생 스키마 생성하기</p>
  <div style="text-align:center;">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ create_derived_schema_form }}
      <button type="submit">create</button>
    </form>
  
  </div>

</div>

<!--
  <h2>Give your derived schema information</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ create_derived_schema_form }}
      <button type="submit">create</button>
  </form>
-->
{% endblock main_content %}



