{% extends 'collect/manager.html' %}
{% block main_content %}


<div class="commonContainerDiv" style="width:800px;overflow:auto;">
  <p class="commonTitleText">평가자 목록</p>

  <table class="commonTable">
    <thead>
      <tr>
        <th>아이디</th>
        <th>이름</th>
        <th>배정된 파일 수</th>
        <th>배정하기</th>
      </tr>
    </thead>
    <tbody>
      {% for grader in graders %}
        <tr>
          <td>{{ grader.user.username }}</td>
          <td>{{ grader.name }}</td>
          <td>{{ grader.parsed_grades.all|length }} </td>
          <td><a href="{% url 'allocate file' task_id file_id grader.id %}" style="color:rgb(48, 66, 146)">배정하기</a></td>
        </tr>
      {% endfor %}
    </tbody>

  </table>

</div>

{% endblock main_content %}