{% extends 'collect/manager.html' %}

{% block main_content %}

<div class="commonContainerDiv" style="width:800px;text-align:center;overflow:auto;">
  <p class="commonTitleText">{{ task_name }}의 파생 스키마 {{ schema_name }}의 매핑 정보</p>
  <p class="commonTitleText" style="font-size:16px;">{{ list_of_mapping_pairs|linebreaks }}</p>


  <p class="commonTitleText">매핑 정보 생성하기</p>
  <div style="text-align:center;">
    <form class="form-create-mapping-pair" action="{% url 'create mapping pair' task_id schema_id %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% comment %}
        'schema_attribute',
        'parsing_column_name',
      {% endcomment %}

      <p class="createMappingPairText" style="top:225px;">원본 스키마의 컬럼</p>
      <select class="createMappingPairInput" name="attr" style="top:280px;" required>
        {% for schema_attribute in schema_attribute_list %}
          <option value="{{ schema_attribute.attr }}">{{ schema_attribute.attr }}</option>
        {% endfor %}
      </select>
      <strong>{{ error_at_schema_attribute }}</strong>

      <p class="createMappingPairText" style="top:225px;">파생 스키마의 컬럼 이름</p>
      <input class="createMappingPairInput" type="text" name="parsing_column_name" style="top:130px;" required>
      {% comment %} tag: placeholder="ID를 입력하세요" {% endcomment %}
      <strong>{{ error_at_parsing_column_name }}</strong>

      <button type="submit">생성</button>
    </form>
  </div>
  <h4>주의: 원본 스키마의 모든 속성(컬럼)에 매핑 정보가 반드시 1개씩 있어야 합니다!</h4>


</div>

{% endblock main_content %}

