{% extends 'collect/manager.html' %}

{% block main_content %}

<div class="commonContainerDiv" style="text-align:center; width:800px;">
<p class="commonTitleText">매핑 정보 생성</p>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ create_mapping_pair_form }}
    <button type="submit">생성</button>
  </form>
<p class="commonTitleText" style="font-size:20px;">현재 매핑 정보</p>
<p class="commonTitleText" style="font-size:16px;">{{ list_of_mapping_pairs|linebreaks }}</p>
</div>
<!--
  <h2>매핑 정보 생성</h2>
  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ create_mapping_pair_form }}
      <button type="submit">생성</button>
  </form>
  {{ list_of_mapping_pairs|linebreaks }}
-->
{% endblock main_content %}


