{% extends 'collect/manager.html' %}

{% block main_content %}

<div class="commonContainerDiv" style="text-align:center;">
<p class="commonTitleText">{{ task_name }} 의 파생 스키마 {{ schema_name }} 의 매핑 정보</p>
<p class="commonTitleText" style="font-size:16px;">{{ list_of_mapping_pairs|linebreaks }}</p>

<div>
  <a href="./create">
      매핑 정보 추가 생성
  </a>
</div>


</div>
<!--
  <h2>매핑 정보 of "{{ schema_name }}" @"{{ task_name }}"</h2>
  {{ list_of_mapping_pairs|linebreaks }}

  <div>
      <a href="./create">
          매핑 정보 생성
      </a>
  </div>
-->
{% endblock main_content %}

