{% extends 'collect/manager.html' %}
{% block main_content %}
<div class="commonContainerDiv">
    <p class="commonTitleText">제출한 파일 목록</p>
    <pre class="commonTitleText" style="font-size:20px;">태스크 이름 : {{ task.name }}        저장된 Tuple 수 : {{ total_tuple }}</pre>

    <table class="commonTable">
        <thead>
          <tr>
            <th>파일 이름</th>
            <th>회차</th>
            <th>기간</th>
            <th>튜플 수</th>
            <th>중복 튜플 수</th>
            <th>Null 비율</th>
            <th>평가 점수</th>
            <th>PASS 상태</th>
            <th>파싱된 파일</th>
          </tr>
        </thead>
        <tbody>
          {% for parsedfile in parsedfile_list %}
            <tr>
              <td>{{ parsedfile }}</td>
              <td>{{ parsedfile.submit_number }}</td>
              <td>{{ parsedfile.start_date }} ~ {{ parsedfile.end_date }}</td>
              <td>{{ parsedfile.total_tuple }}</td>
              <td>{{ parsedfile.duplicated_tuple }}</td>
              <td>{{ parsedfile.null_ratio }}</td>
              <td>{{ parsedfile.grading_score }}</td>
              <td>{{ parsedfile.pass_state }}</td>
              <td><a href="/collect/allocated-parsedfiles/{{ parsedfile.id }}/download/">다운로드</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

</div>
{% endblock main_content %}
