{% extends 'collect/manager.html' %}

{% block main_content %}      
  <h2>태스크 목록</h2>
  {% for task in list_of_tasks %}
  <h4>{{task.name}}</h4>
  최소 업로드 주기: {{task.minimal_upload_frequency}}<br>
  활성 상태: {{task.activation_state}}<br>
  태스크 설명: {{task.description}}<br>
  원본 데이터 설명: {{task.original_data_description}}<br>
  <a href = "{% url 'show task' task.id %}"><button>상세 조회 및 관리</button></a><br>
  <hr>

  {% endfor %}
  <div>
      <a href="./create">
          태스크 생성
      </a>
  </div>
{% endblock main_content %}

