{% load static %}

<head>
      
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href = "{% static 'collect/cover.css' %}">
  <link rel="stylesheet" href = "{% static 'collect/modal.css' %}">
  <script src="{% static 'collect/login.js' %}" type="text/javascript"></script>
</head>

<body class = "text">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">데이터베이스</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'collect:manager' %}">Home</a>
            <a class="nav-link active" href="{% url 'collect:logout' %}">로그아웃</a>
            <a class="nav-link active" href="{% url 'collect:update' user.id %}">정보 수정</a>
            <a class="nav-link active" href="{% url 'collect:userinfo' user.id %}">내 정보 조회</a>
            <a class="nav-link active" href="{% url 'collect:users' %}">유저 정보 조회</a>
            <a class="nav-link active" href="{% url 'create task' %}">태스크 생성하기</a>
        </nav>
      </div>
    </header>
    <main role="main" class="inner cover">
        
        


        <h2>show information of "{{ task_name }}"</h2>
        {{ task_info }}
        <h3>attributes</h3>
        {{ task_attributes|linebreaks }}
        <h3>derived schemas</h3>
        {{ task_derived_schemas|linebreaks }}
        
        <div>
            <a href="./attribute">
                manage attributes
            </a>
        </div>
        <div>
            <a href="./derived_schema">
                manage derived schemas
            </a>
        </div>



    </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>김지현 권순석 김하진 이동우 조성현</p>
        </div>
      </footer>
    </div>
    
  </body> 





