{% extends 'collect/grader.html' %}
{% block main_content %}
  <div class="commonContainerDiv">
    <p class="commonTitleText">할당된 파일 목록</p>

    <table class="commonTable">
      <thead>
        <tr>
          <th>태스크 명</th>
          <th>파일 명</th>
          <th>평가 종료 날짜</th>
          <th>평가하기</th>
        </tr>
      </thead>
      <tbody>
        {% for parsedfile in parsedfiles %}
        <tr>
          <td>{{ parsedfile.task.name }}</td>
          <td>{{ parsedfile }}</td>
          <td>{{ parsedfile.grading_end_date }}</td>
          {% if parsedfile.grading_end_date > now %}
            <td><a href="{% url 'collect:grade-parsedfile' parsedfile.id %}" style="color:rgb(48, 66, 146)">평가하기</a></td>
          {% else %}
            <td>평가 기간 만료</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock main_content %}