{% extends 'collect/grader.html' %}
{% block main_content %}
  <div class="commonContainerDiv" style="text-align:center">
    
    <div id="gradeFileInfo">
      <table class="CommonTable" style="position:relative;">
        <thead>
          <tr>
            <th>파일 이름</th>
            <th>회차</th>
            <th>기간</th>
            <th>튜플 수</th>
            <th>중복 튜플 수</th>
            <th>Null 비율</th>
            <th>평가 점수</th>
            <th>PASS 상태</th>
            <th>파싱된 파일</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ parsedfile }}</td>
            <td>{{ parsedfile.submit_number }}</td>
            <td>{{ parsedfile.start_date }} ~ {{ parsedfile.end_date }}</td>
            <td>{{ parsedfile.total_tuple }}</td>
            <td>{{ parsedfile.duplicated_tuple }}</td>
            <td>{{ parsedfile.null_ratio }}</td>
            <td>{{ parsedfile.grading_score }}</td>
            <td>{{ parsedfile.pass_state }}</td>
            <td><a href="/collect/allocated-parsedfiles/{{ parsedfile.id }}/download/">다운로드</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <br>
    <br>

    <p class="commonTitleText">평가하기</p>
    <form action="{% url 'collect:grade-parsedfile' parsedfile.id %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="평가 완료">
    </form>
  </div>
{% endblock main_content %}



