{% extends 'collect/submitter.html' %}
{% block main_content %}
    <h1>제출한 파일 목록</h1>
    태스크 이름: {{ task.name }}<br>
    저장된 tuple 수: {{ total_tuple }}
    <p>파일 이름-회차-기간-평가 점수-패스 여부</p>
    <ul>
    {% for parsedfile in parsedfile_list %}
        <li>
        {{ parsedfile.directory }} {{ parsedfile.submit_number }} {{ parsedfile.start_date }}~{{ parsedfile.end_date }}
        {{ parsedfile.grading_score }} {{ parsedfile.pass_state }}
        </li>
    {% endfor %}
    </ul>
{% endblock main_content %}


