{% extends 'collect/submitter.html' %}
{% block main_content %}
    <h1>태스크 목록</h1>


    <ul>
    {% for task in task_list %}
        {% if task.activation_state %}
            <li>
                <a href="{% url 'collect:task-detail' task.id %}" style = "color:white" > {{ task.name }}</a>
                {% if task not in participate_tasks %}
                    <a href="{% url 'collect:create-participation' task.id %}" style = "color:white" ><button>참여 신청</button></a>
                {% else %}
                    신청 완료
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    </ul>
{% endblock main_content %}

