{% extends 'collect/manager.html' %}

                                      {% comment %} 

TODO:
관리자 페이지 헤더 통일하려고 상속으로 변경했습니다.
주석처리한 부분은 확인 후 지워주세요.
H.K.

                                      {% endcomment %}

{% comment %} {% load static %}
<head>
      
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/sign-in/">
  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href = "{% static 'collect/cover.css' %}">
  <link rel="stylesheet" href = "{% static 'collect/userlist.css' %}">
  <script src="{% static 'collect/login.js' %}" type="text/javascript"></script>
  <script src="{% static 'collect/userlist.js' %}" type="text/javascript"></script>

</head>

<body class = "text">
  
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">데이터베이스</h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'collect:manager' %}">Home</a>
            <a class="nav-link active" href="{% url 'collect:logout' %}">로그아웃</a>
            <a class="nav-link active" href="{% url 'collect:update' user.id %}">정보 수정</a>
            <a class="nav-link active" href="{% url 'collect:userinfo' user.id %}">내 정보 조회</a>
            <a class="nav-link active" href="{% url 'collect:delete' user.id %}">회원 탈퇴</a>
        </nav>
        
      </div>
    </header>
    <main role="main" class="inner cover"> {% endcomment %}
      {% block main_content %}
      <div class="containerDiv">
       <p class="titleText">유저 정보 조회</p>
        <div id="searchDiv">
          <p class="searchDivTitle">유저 검색하기</p>
         
          <form action="{% url 'collect:users' %}" method="get">

            <p class="userInfoText" style="top:85px;">아이디</p>
            <input class="userInfoInput" type="text" name="username" style="top:85px;">

            <p class="userInfoText" style="top:125px;">성별</p>
            <select class="userInfoInput"  name="gender" style="top:125px;">
              <option value="">--</option>
              <option value="남성">남성</option>
              <option value="여성">여성</option>
            </select>

            <p class="userInfoText" style="top:165px;">역할</p>
            <select class="userInfoInput" name="role" style="top:165px;">
              <option value="">--</option>
              <option value="제출자">제출자</option>
              <option value="평가자">평가자</option>
            </select>
              
            <p class="userInfoText" style="top:225px;">생년월일</p>
            <input class="userInfoInput" type="date" name="birth1" style="top:205px;">
            <p class="userInfoText" style="top:230px; left:40%; font-size:30px">~</p>
            <input class="userInfoInput" type="date" name="birth2" style="top:240px;right:15%;">

            <p class="userInfoText" style="top:280px;">참여 태스크</p>
            <select class="userInfoInput" name="taskname" style="top:280px;">
              <option value="">--</option>
              {% for task in tasks %}
              <option value="{{ task.name }}">{{ task.name }}</option>
              {% endfor %}
            </select>
            <div class="initButton" style="top:330px;" onclick="clearSearchInput(0);">초기화</div>
            <input class="searchButton" type="submit" value="검색" style="top:330px">
          </form>
        </div>
        <div id="searchFoldButton" onclick="foldSearchDiv()"> ◀ </div>

       <div id="userInfoDiv">
        <table class="userInfoTable">
          <thead>
            <tr>
              <th>역할</th>
              <th>ID</th>
              <th>생년월일</th>
              <th>성별</th>
              <th>참여중인 태스크</th>
              <th>상세조회</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts %}
              {% if account.role != "관리자" %}
                <tr>
                  <td>{{ account.role }}</td>
                  <td> {{ account.user.username }}</td>
                  <td>{{ account.birth }}</td>
                  <td>{{ account.gender }}</td>
                  <td>
                    {% for participation in account.participations.all %}
                      {% if participation.admission %}
                        {{ participation.task.name }} 
                      {% endif %}
                    {% endfor %}</td>
                  <td> <a href="{% url 'collect:user-detail' account.user.id %}" style="color:rgb(48, 66, 146)">상세조회</a> </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>

        </table>
       </div>
      
      </div>
      <!-- end of containerDiv -->

      

    
    {% endblock main_content %}
            
    {% comment %} 
    

    </main>

  

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>김지현 권순석 김하진 이동우 조성현</p>
        </div>
      </footer>
    </div>
    
  </body>  {% endcomment %}








