  #taskCreateDiv {
    position : relative;

    width : 600px;
    height : 450px;

    margin : 0 auto;

  }

  #taskDetailDivManage {
    position : relative;

    width : 800px;
    height : 450px;

    margin : 0 auto;
  }

  #taskListDivManage {
    position : relative;

    min-width : 600px;
    max-width : 1000px;

    min-height : 500px;
    max-height : 1000px;

    margin : 0 auto;
  }

  .taskCreateText {
    color : white;
    font-size : 32px;
    text-align : center;
  }

  .taskCreateSubText {
    position:absolute;
    left : 25%;
    color : white;
    font-size : 16px;
    text-align : left;
  }

  .taskCreateInputForm {
    position: absolute;
    right : 20%;
  
    width: 30%;
    height: 30px;
  
    margin: 0;
    padding: 0;
    text-align: center;
  
    background-color:white;
    font-family: "consolas";
    outline-style: none;
    border-style: none;
    border-radius: 5px;
  }

  .taskCreateButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  
    width: 30%;
    height: 30px;
  
    margin: 0;
    padding: 0;
    text-align: center;
  
    color: white;
    background-color: #3472b9;
    font-family: "consolas";
    outline-style: none;
    border-style: none;
    border-radius: 5px;
  
    cursor: pointer;
    text-decoration : none;
  
    transition: background-color 0.6s ease;
  }
  
  .taskCreateButton:hover {
    background-color: #144680;
  }


  /* 테이블 생성 */

  .taskCreateTable {
    position : absolute;
    border-collapse : collapse;
  
    width: 100%;
    min-width : 600px;
    max-width : 1000px;
    
    font-size : 14px;
    
    background-color : #F2F2F2;
  
    left : 50%;
    transform:translateX(-50%);
  }
  .taskCreateTable td, .taskCreateTable th {
    border: 1px solid #BBBBBB;
    padding : 8px;
    text-align : center;
  }
  .taskCreateTable th{
    background-color : #333;
    color : #FFF;
  }
  
  .taskCreateTable td{
    color : black;
  }


  /* 태스크 선택화면 */
  #taskSelectMainDiv {
    position : relative;

    width : 1200px;

    height : 1000px;

    margin : 0 auto;

  }

  #taskSelectInfoDiv {
    position : absolute;

    top : 80px;
    left: 25px;

    width : 800px;
    height : 250px;
    margin: 0 auto;

    display:inline-block;

    border : 2px solid #222;
    border-radius : 10px;
    background-color : #222;
  }

  #taskSelectAttributeDiv {
    position : absolute;

    top : 350px;
    left : 25px;

    width : 800px;
    height : 130px;
    margin: 0 auto;

    display:inline-block;

    border : 2px solid #222;
    border-radius : 10px;
    background-color : #222;
  }

  #taskSelectSchemaDiv {
    position : absolute;

    top : 80px;
    left : 850px;

    width : 300px;
    height : 400px;
    margin: 0 auto;

    display:inline-block;

    border : 2px solid #222;
    border-radius : 10px;
    background-color : #222;
  }

  #taskSelectSubmitterDiv {
    position : absolute;

    top : 530px;
    left: 25px;

    width : 500px;
    height : 300px;
    margin: 0 auto;

    display:inline-block;

    border : 2px solid #222;
    border-radius : 10px;
    background-color : #222;
  }

  #taskSelectParticipationDiv {
    position : absolute;

    top : 530px;
    right : 25px;

    width : 600px;
    height : 300px;
    margin: 0 auto;

    display:inline-block;

    border : 2px solid #222;
    border-radius : 10px;
    background-color : #222;
  }

  .taskButton {
    position: absolute;
  
    width: 20%;
    height: 30px;
  
    margin: 0;
    padding: 0;
    text-align: center;
  
    color: white;
    background-color: #3472b9;
    font-family: "consolas";
    outline-style: none;
    border-style: none;
    border-radius: 5px;

    text-decoration : none;
    line-height : 30px;
  
    cursor: pointer;
  
    transition: background-color 0.6s ease;
  }
  
  .taskButton:hover {
    background-color: #144680;
    text-decoration : none;
    color : white;
  }